.app-container{
  display: flex;

}

.main-content{
  width: 100%;

}

.side-bar{
  width : 200px;
  min-height: 610px;
}

.post-card{
  margin: 10px 10px;
  border : black solid 1px;
}

.reactions-btn{
  padding: 2px 2px;
  margin: 2px 2px;
}

.create-post-form{
  margin: 10px 10px;
  width: 60%;
  margin-left : 60px;
}